nav.navbar{
	background-color:#365899 !important;
	
}
main{
	background-image: linear-gradient(white,gainsboro) ;
}
form{
	font-size: 14px;
}

form a.qtk{
	color: #BBBBBB;
}
form .qtk:hover{
	color: #BBBBBB;
}
#inputEmail{
	border: 1px solid #222222;
}
#inputPassword{
	border: 1px solid #222222;
}
.btn1{
	background-color: #4267b2;
	border: 1px solid #222222;
	color: #FFFFFF;
	margin-top: 30px;
}
.btn1:hover{
	background-color: #365899;
}
.h4.my-4{
	color: #0e385f;
	
}
footer{
	font-size: 13px;
	
}
footer nav{
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 50px;
	margin-bottom: 10px;
}
footer  a{
	 padding-right: 5px;
}
